[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=ow
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/ow/Projects/linux-utils/i3wm/screenshotLock.sh

[Install]
WantedBy=sleep.target
